.navbar-brand{
    padding:0px !important;
    margin-top: -1px;
}
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

#escapes {
    font-size: 150%;
    line-height: 25px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFF;
}

#get-in-touch{
    background: #2f5572;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 5px;
}

#get-in-touch-xs {
    background: rgba(0,0,0,0.0);
}

#site-navbar {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-default {
    background: rgba(47, 85, 114, 0.5);
}



.square{
    background: #2f5572;
    color: white;
    padding: 15px;
    margin: 0px;
}

.square p {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#xs-square {
    margin-left: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}

.vacation-bg{
    background: url(../img/vacation-bg.jpg) no-repeat bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 10px solid #2f5572;
}

#get-started .jumbotron{
    text-shadow: rgba(0,0,0,.2) 1px 1px;
}

#get-started .jumbotron {
    background: rgba(0,0,0,0.0);
}



#get-started .jumbotron h1 {
    color: rgb(47, 85, 114);
}

#get-started .jumbotron h1 + p {
    font-size: 27px;
    color: rgb(47, 85, 114);
}

#get-started .jumbotron p {
    color: white;
}

.btn-lg {
    background-color: #d59541;
    color: white;
    text-shadow: rgba(0,0,0,.2) 1px 1px;
}

#our-start h1 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.img-responsive {
    margin: 0 auto;
}

#our-features {
    background: #2f5572;
    color: white;
}

#testimonials {
    background: url(../img/testimonials-bg.jpg) no-repeat center;
    overflow: hidden;
    padding-bottom: 50px;
}

@media (max-width: 767px){
    #testimonials {
        background: #e0e6ef;
    }
}

#testimonials img {
    width: 150px;
    height: auto;
    border: 6px solid white;
    margin-top: -81px;
}

#testimonials h1 {
    color: #2f5572;
    margin-bottom: 100px;
}

.card {
    background: rgba(255,255,255,0.7);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    padding-bottom: 15px;
}

@media (max-width: 767px){
    .card{
        height: auto !important;
    }
    .col{
        margin-bottom: 100px;
    }
}

.card h3 {
    color: #2f5572;
    font-weight: bolder;
}

.card h5 {
    color: #d59541;
}

.card p {
    font-size: 1.3em;
    font-weight: lighter;
}

footer {
    background: #2f5572;
}
footer p {
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    margin-top: 20px;
}

#footer-btn{
    margin-bottom: 25px;
}
