.navbar-brand{
    padding:0px !important;
    margin-top: -1px;
}
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

#escapes {
    font-size: 150%;
    line-height: 25px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFF;
}

#get-in-touch{
    background: #2f5572;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 5px;
}

#get-in-touch-xs {
    background: rgba(0,0,0,0.0);
}

#site-navbar {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-default {
    background: rgba(47, 85, 114, 0.5);
}



.square{
    background: #2f5572;
    color: white;
    padding: 15px;
    margin: 0px;
}

.square p {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#xs-square {
    margin-left: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}

.vacation-bg{
    background: url(/img/vacation-bg.jpg) no-repeat bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#get-started{
}

#get-started .jumbotron {
    background: rgba(0,0,0,0.0);
}

#get-started .jumbotron h1 + p {
    font-size: 27px;
}

#get-started .jumbotron button {
    background-color: #d59541;
    color: white;
}
